/* Style for body specifies a background color */
body {
    background-color: #146ac7;
}

/* Style for container centers the page and sets the element width */
#container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* Style for header sepcifies top and bottom margins, background color, rounded border, shadow and alignment */
header {
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 12px 12px 12px #404040;
    text-align: center;
}

/* Style for nav specifies text properties, padding, margins and boarders */
nav {
    
    font-family: Verdana, "Courier", serif;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    border-top: 5px solid #FFFFFF;
    border-bottom: 5px solid #FFFFFF;
}


h1 {
    color: #830eeaad;
}

h2 {
    color: #023020;
}
th {
    font-size: 1em;
}

/* Style for main specifies a block display, text properties, margins, padding, rounded border, and shadow */
main {
    display: block;
    font-family: Verdana, Arial, sans-serif;
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color:#cddbf1;
    box-shadow:12px 12px 12px #f8f6f610;
}

/* style for the footer specifies font size, text alignment, and top margin */
footer {
    font-size: 0.90em;
    text-align: center;
    margin-top: 20px;
}

/* The remaining are for and general refernces. The two "." ones refer to a class and need to be used with a "class=" statement in the beginning tag. For example a floatleft applied to an image tag would start with <img class=floatleft" src... The words "floatleft" and "floatright" are not html reserved words but rather made up by someone to indicate what they do. */

.floatleft {
    float: left;
    padding-right: 20px;
}
.floatright {
    float: right;
    padding-right: 20px;
    
}
